.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.left-section {
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.menu-image {
    height: 20px;
    margin-left: 26px;
    margin-right: 20px;
}

.yt-logo {
    height: 36px;
}

.middle-section {
    flex: 1;
    max-width: 660px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-bar {
    flex: 1;
    width: 0;
    font-size: 16px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    padding-left: 15px;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    outline: none;
}

.search-bar::placeholder {
    font-size: 16px;
}

.search-button {
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    border: 1px solid rgb(228, 228, 228);
    margin-left: -5px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
}

.search-button-image {
    width: 20px;
    padding-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.voice-search-button {
    background-color: rgb(202, 202, 202);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 12px;
}

.voice-search-image {
    width: 20px;
    padding-top: 4px;
}

.right-section {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 25px;
}

.yt-icon {
    width: 25px;
    padding-right: 25px;
}

.user-image {
    width: 36px;
    border-radius: 18px;
}

.user-image:hover, .yt-logo:hover, .search-button:hover,
.voice-search-button:hover, .menu-image:hover, .yt-tray:hover {
    cursor: pointer;
}