.sidebar {
    width: 72px;

    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    z-index: 200;

    background-color: white;
    padding-top: 5px;
}

.sidebar-icon {
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-icon:hover {
    background-color: lightgray;
}

.sidebar-icon-image {
    width: 25px;
    margin-bottom: 4px;
}

.sidebar-text {
    font-size: 11px;
}